{% extends 'main/base.html' %}
{% load static %}


{% block body %}
		<!-- site__body -->
		<div class="site__body">
			<div class="page-header">
				<div class="page-header__container container">
					<div class="page-header__breadcrumb">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index-2.html">Home</a>
									<svg class="breadcrumb-arrow" width="6px" height="9px">
										<use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-right-6x9"></use>
									</svg>
								</li>
								
								<li class="breadcrumb-item active" aria-current="page">FAQ</li>
							</ol>
						</nav>
					</div>
					<div class="page-header__title">
						<h1>FAQ</h1></div>
				</div>
			</div>
			<div class="block faq">
				<div class="container">
					<div class="faq__section">
						<div class="faq__section-title">
							<h3>Shipping Information</h3></div>
						<div class="faq__section-body">
							<div class="row">
								<div class="faq__section-column col-12 col-lg-6">
									<div class="typography">
										<h6>What methods are possible to send the products?</h6>
										<p>Lorem Epsom is a mock text with an incomprehensible simplicity produced by the printing industry and used by graphic designers. Printers and texts, but newspapers and magazines in columns and rows as necessary and for the current conditions of technology and diverse applications with the aim of improving practical tools. Many books on sixty-three percent of the past, present and future of society's abundant knowledge</p>
										<h6>What methods are possible to send the products?</h6>
										<p>Lorem Epsom is a mock text with an incomprehensible simplicity produced by the printing industry and used by graphic designers. Printers and texts, but newspapers and magazines in columns and rows as necessary and for the current conditions of technology and diverse applications with the aim of improving practical tools. Many books on sixty-three percent of the past, present and future of society's abundant knowledge</p>
									</div>
								</div>
								<div class="faq__section-column col-12 col-lg-6">
									<div class="typography">
										<h6>What methods are possible to send the products?</h6>
										<p>
											Lorem Epsom is a mock text with an incomprehensible simplicity produced by the printing industry and used by graphic designers. Printers and texts, but newspapers and magazines in columns and rows as necessary and for the current conditions of technology and diverse applications with the aim of improving practical tools. Many books on sixty-three percent of the past, present and future of society's abundant knowledge
										</p>
										<h6>What methods are possible to send the products?</h6>
										<p>
											Lorem Epsom is a mock text with an incomprehensible simplicity produced by the printing industry and used by graphic designers. Printers and texts, but newspapers and magazines in columns and rows as necessary and for the current conditions of technology and diverse applications with the aim of improving practical tools. Many books on sixty-three percent of the past, present and future of society's abundant knowledge
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="faq__section">
						<div class="faq__section-title">
							<h3>Payment Information</h3></div>
						<div class="faq__section-body">
							<div class="row">
								<div class="faq__section-column col-12 col-lg-6">
									<div class="typography">
										<h6>What methods are possible to send the products?</h6>
										<p>
											Lorem Epsom is a mock text with an incomprehensible simplicity produced by the printing industry and used by graphic designers. Printers and texts, but newspapers and magazines in columns and rows as necessary and for the current conditions of technology and diverse applications with the aim of improving practical tools. Many books on sixty-three percent of the past, present and future of society's abundant knowledge
										</p>
									</div>
								</div>
								<div class="faq__section-column col-12 col-lg-6">
									<div class="typography">
										<h6>What methods are possible to send the products?</h6>
										<p>
											Lorem Epsom is a mock text with an incomprehensible simplicity produced by the printing industry and used by graphic designers. Printers and texts, but newspapers and magazines in columns and rows as necessary and for the current conditions of technology and diverse applications with the aim of improving practical tools. Many books on sixty-three percent of the past, present and future of society's abundant knowledge
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="faq__section">
						<div class="faq__section-title">
							<h3>Order and Return</h3></div>
						<div class="faq__section-body">
							<div class="row">
								<div class="faq__section-column col-12 col-lg-6">
									<div class="typography">
										<h6>What methods are possible to send the products?</h6>
										<p>
											Lorem Epsom is a mock text with an incomprehensible simplicity produced by the printing industry and used by graphic designers. Printers and texts, but newspapers and magazines in columns and rows as necessary and for the current conditions of technology and diverse applications with the aim of improving practical tools. Many books on sixty-three percent of the past, present and future of society's abundant knowledge
										</p>
									</div>
								</div>
								<div class="faq__section-column col-12 col-lg-6">
									<div class="typography">
										<h6>What methods are possible to send the products?</h6>
										<p>
											Lorem Epsom is a mock text with an incomprehensible simplicity produced by the printing industry and used by graphic designers. Printers and texts, but newspapers and magazines in columns and rows as necessary and for the current conditions of technology and diverse applications with the aim of improving practical tools. Many books on sixty-three percent of the past, present and future of society's abundant knowledge
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- site__body / end -->
{% endblock %}
