{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ block.super }} Compare {% endblock %}

{% block body %}
		<!-- site__body -->
		<div class="site__body">
			<div class="page-header">
				{% include 'components/breadcrumb.html' with breadcrumb=breadcrumb title=title %}
			</div>
			<div class="block">
				<div class="container">
					<div class="table-responsive">
						<table class="compare-table">
							{% if compare %}
							<tbody>
								<tr>
									<th>Product</th>
									{% for p in compare %}
									<td>
										<a class="compare-table__product-link" href="{% url 'ProductDetailView' p.product.slug %}">
											<div class="compare-table__product-image"><img src="{{ p.product.pic0.url }}" alt="{{ p.product.name }}"></div>
											<div class="compare-table__product-name">{{ p.product.name }}</div>
										</a>
									</td>
									{% endfor %}	
								</tr>
								<tr>
									<th>Rating</th>
									<td>
										<div class="compare-table__product-rating">
											<div class="rating">
												<div class="rating__body">
													<svg class="rating__star rating__star--active" width="13px" height="12px">
														<g class="rating__fill">
															<use xlink:href="{% static  'images/sprite.svg' %}' %}#star-normal"></use>
														</g>
														<g class="rating__stroke">
															<use xlink:href="{% static 'images/sprite.svg' %}' %}#star-normal-stroke"></use>
														</g>
													</svg>
													<div class="rating__star rating__star--only-edge rating__star--active">
														<div class="rating__fill">
															<div class="fake-svg-icon"></div>
														</div>
														<div class="rating__stroke">
															<div class="fake-svg-icon"></div>
														</div>
													</div>
													<svg class="rating__star rating__star--active" width="13px" height="12px">
														<g class="rating__fill">
															<use xlink:href="{% static 'images/sprite.svg' %}' %}#star-normal"></use>
														</g>
														<g class="rating__stroke">
															<use xlink:href="{% static 'images/sprite.svg' %}' %}#star-normal-stroke"></use>
														</g>
													</svg>
													<div class="rating__star rating__star--only-edge rating__star--active">
														<div class="rating__fill">
															<div class="fake-svg-icon"></div>
														</div>
														<div class="rating__stroke">
															<div class="fake-svg-icon"></div>
														</div>
													</div>
													<svg class="rating__star rating__star--active" width="13px" height="12px">
														<g class="rating__fill">
															<use xlink:href="{% static 'images/sprite.svg' %}#star-normal"></use>
														</g>
														<g class="rating__stroke">
															<use xlink:href="{% static 'images/sprite.svg' %}#star-normal-stroke"></use>
														</g>
													</svg>
													<div class="rating__star rating__star--only-edge rating__star--active">
														<div class="rating__fill">
															<div class="fake-svg-icon"></div>
														</div>
														<div class="rating__stroke">
															<div class="fake-svg-icon"></div>
														</div>
													</div>
													<svg class="rating__star rating__star--active" width="13px" height="12px">
														<g class="rating__fill">
															<use xlink:href="{% static 'images/sprite.svg' %}#star-normal"></use>
														</g>
														<g class="rating__stroke">
															<use xlink:href="{% static 'images/sprite.svg' %}#star-normal-stroke"></use>
														</g>
													</svg>
													<div class="rating__star rating__star--only-edge rating__star--active">
														<div class="rating__fill">
															<div class="fake-svg-icon"></div>
														</div>
														<div class="rating__stroke">
															<div class="fake-svg-icon"></div>
														</div>
													</div>
													<svg class="rating__star" width="13px" height="12px">
														<g class="rating__fill">
															<use xlink:href="{% static 'images/sprite.svg' %}#star-normal"></use>
														</g>
														<g class="rating__stroke">
															<use xlink:href="{% static 'images/sprite.svg' %}#star-normal-stroke"></use>
														</g>
													</svg>
													<div class="rating__star rating__star--only-edge">
														<div class="rating__fill">
															<div class="fake-svg-icon"></div>
														</div>
														<div class="rating__stroke">
															<div class="fake-svg-icon"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="compare-table__product-rating-legend">7 Reviews</div>
									</td>
									
								</tr>
								
								<tr>
									<th>Stock</th>
									
									{% for p in compare %}
									<td>
										{% for dtl in detail %}
										{% if p.product.id == dtl.product_id %}
										{% if dtl.instock != 0 %}
											<span class="compare-table__product-badge badge badge-success">In Stock</span>
									
										{% else %}
									
										<span class="compare-table__product-badge badge badge-danger">Out of Stock</span>
										
										{% endif %}
										{% endif %}
										{% endfor %}
									</td>
									{% endfor %}
								</tr>
								<tr>
									<th>Price</th>
									{% for p in compare %}
									<td>
									{% for dtl in detail %}
									{% if dtl.instock != 0 %}
									{% if p.product.id == dtl.product_id %}	
									{% if dtl.off == 0 %}<span class="new-price">{{ dtl.new_price }}</span>{% else %}<span class="product-card__new-price">{{ dtl.new_price }} </span>{% endif %}{% if dtl.off == 0 %}{% else %}<span  class="product-card__old-price">{{ dtl.price }} </span>{% endif %}
									{% endif %}
									{% endif %}		
									{% endfor %}
									</td>
									{% endfor %}
								</tr>
								<tr>
									<th>ID</th>
									{% for p in compare %}
									<td>
										{% for dtl in detail %}
										{% if p.product.id == dtl.product_id %}
										{{ p.product.id }}
										
										{% endif %}
										{% endfor %}
									</td>
									{% endfor %}
								</tr>
								
								<tr>
									<th>Color</th>
									
									{% for p in compare %}
									<td>
										{% for dtl in detail %}
										{% if p.product.id == dtl.product_id %}
										{{ p.product.color }}
										
										{% endif %}
										{% endfor %}
									</td>
									{% endfor %}
								</tr>
								<tr>
									<th>Material</th>
									
									{% for p in compare %}
									<td>
										{% for dtl in detail %}
										{% if p.product.id == dtl.product_id %}
										{{ p.product.material }}
										
										{% endif %}
										{% endfor %}
									</td>
									{% endfor %}
								</tr>
								<tr>
									<tr>
										<th>Add to Cart</th>
										{% for p in compare %}
									<td>
										{% for dtl in detail %}
										{% if dtl.instock != 0 %}
										{% if p.product.id == dtl.product_id %}
										
										<button class="btn btn-primary">Add to Cart</button>
										
										{% endif %}
										{% endif %}
										{% endfor %}
									</td>
									{% endfor %}
									</tr>
									<th></th>
									
									{% for p in compare %}
									<td>
										{% for dtl in detail %}
										{% if p.product.id == dtl.product_id %}

										<form method="post">
											{% csrf_token %}
											<input type='hidden'  name='product_slug' value="{{ p.product.slug }}" >
										<button type="submit" class="btn btn-secondary btn-sm" name="delete" >Delete</button>
										
										{% endif %}
										{% endfor %}
									</td>
									{% endfor %}

								</tr>
							</tbody>
						</table>
						{% else %}
						<br/><br/><center> No Compare for you  </center><br/><br/><br/><br/><br/><br/><br/>
						
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<!-- site__body / end -->
{% endblock %}
		