{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ block.super }} {{ product.name }} {% endblock %}

{% block body %}
		<!-- site__body -->
		<div class="site__body">
			<div class="page-header">
				<div class="page-header__container container">
					{% include 'components/breadcrumb.html' with breadcrumb=breadcrumb title=" " %}
				</div>
			</div>
			<div class="block">
				<div class="container">
					<div class="product product--layout--standard" data-layout="standard">
						<div class="product__content">
							<!-- .product__gallery -->
							<div class="product__gallery">
								<div class="product-gallery">
									<div class="product-gallery__featured">
										<div class="owl-carousel" id="product-image">
											{% if product.pic1.url != "/media/static/no-image.jpg" %}<a href="{{ product.pic0.url }}" target="_blank"><img src={{ product.pic0.url }} title={{ product.name }} alt={{ product.name }} /></a>{% endif %}
											{% if product.pic1.url != "/media/static/no-image.jpg" %}<a href="{{ product.pic1.url }}" target="_blank"><img src={{ product.pic1.url }} title={{ product.name }} alt={{ product.name }} /></a>{% endif %}
											{% if product.pic1.url != "/media/static/no-image.jpg" %}<a href="{{ product.pic2.url }}" target="_blank"><img src={{ product.pic2.url }} title={{ product.name }} alt={{ product.name }} /></a>{% endif %}
											{% if product.pic1.url != "/media/static/no-image.jpg" %}<a href="{{ product.pic3.url }}" target="_blank"><img src={{ product.pic3.url }} title={{ product.name }} alt={{ product.name }} /></a>{% endif %}
											{% if product.pic1.url != "/media/static/no-image.jpg" %}<a href="{{ product.pic4.url }}" target="_blank"><img src={{ product.pic4.url }} title={{ product.name }} alt={{ product.name }} /></a>{% endif %}										</div>
									</div>
									<div class="product-gallery__carousel">
										<div class="owl-carousel" id="product-carousel">
											<a href="{{ product.pic0.url }}" class="product-gallery__carousel-item"><img class="product-gallery__carousel-image" src='{{ product.pic0.url }}' alt=""> </a>
											<a href="{{ product.pic1.url }}" class="product-gallery__carousel-item"><img class="product-gallery__carousel-image" src='{{ product.pic1.url }}' alt=""> </a>
											<a href="{{ product.pic2.url }}" class="product-gallery__carousel-item"><img class="product-gallery__carousel-image" src='{{ product.pic2.url }}' alt=""> </a>
											<a href="{{ product.pic3.url }}" class="product-gallery__carousel-item"><img class="product-gallery__carousel-image" src='{{ product.pic3.url }}' alt=""> </a>
											<a href="{{ product.pic4.url }}" class="product-gallery__carousel-item"><img class="product-gallery__carousel-image" src='{{ product.pic4.url }}' alt=""></a>
										</div>
									</div>
								</div>
							</div>
							<!-- .product__gallery / end -->
							<!-- .product__info -->
							<div class="product__info">
								<div class="product__wishlist-compare">
									<button type="button" class="btn btn-sm btn-light btn-svg-icon " data-toggle="tooltip" data-placement="right" title="Wishlist">
										<svg width="16px" height="16px">
											<use xlink:href="{% static 'images/sprite.svg' %}#wishlist-16"></use>
										</svg>
									</button>
									<button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Compare">
										<svg width="16px" height="16px">
											<use xlink:href="{% static 'images/sprite.svg' %}#compare-16"></use>
										</svg>
									</button>
								</div>
								<h1 class="product__name">{{ product.name }}</h1>
								<div class="product__rating">
									<div class="product__rating-stars">
										<div class="rating">
											<div class="rating__body">
												<svg class="rating__star rating__star--active" width="13px" height="12px">
													<g class="rating__fill">
														<use xlink:href="{% static 'images/sprite.svg' %}#star-normal"></use>
													</g>
													<g class="rating__stroke">
														<use xlink:href="{% static 'images/sprite.svg' %}#star-normal-stroke"></use>
													</g>
												</svg>
												<div class="rating__star rating__star--only-edge rating__star--active">
													<div class="rating__fill">
														<div class="fake-svg-icon"></div>
													</div>
													<div class="rating__stroke">
														<div class="fake-svg-icon"></div>
													</div>
												</div>
												<svg class="rating__star rating__star--active" width="13px" height="12px">
													<g class="rating__fill">
														<use xlink:href="{% static 'images/sprite.svg' %}#star-normal"></use>
													</g>
													<g class="rating__stroke">
														<use xlink:href="{% static 'images/sprite.svg' %}#star-normal-stroke"></use>
													</g>
												</svg>
												<div class="rating__star rating__star--only-edge rating__star--active">
													<div class="rating__fill">
														<div class="fake-svg-icon"></div>
													</div>
													<div class="rating__stroke">
														<div class="fake-svg-icon"></div>
													</div>
												</div>
												<svg class="rating__star rating__star--active" width="13px" height="12px">
													<g class="rating__fill">
														<use xlink:href="{% static 'images/sprite.svg' %}#star-normal"></use>
													</g>
													<g class="rating__stroke">
														<use xlink:href="{% static 'images/sprite.svg' %}#star-normal-stroke"></use>
													</g>
												</svg>
												<div class="rating__star rating__star--only-edge rating__star--active">
													<div class="rating__fill">
														<div class="fake-svg-icon"></div>
													</div>
													<div class="rating__stroke">
														<div class="fake-svg-icon"></div>
													</div>
												</div>
												<svg class="rating__star rating__star--active" width="13px" height="12px">
													<g class="rating__fill">
														<use xlink:href="{% static 'images/sprite.svg' %}#star-normal"></use>
													</g>
													<g class="rating__stroke">
														<use xlink:href="{% static 'images/sprite.svg' %}#star-normal-stroke"></use>
													</g>
												</svg>
												<div class="rating__star rating__star--only-edge rating__star--active">
													<div class="rating__fill">
														<div class="fake-svg-icon"></div>
													</div>
													<div class="rating__stroke">
														<div class="fake-svg-icon"></div>
													</div>
												</div>
												<svg class="rating__star rating__star--active" width="13px" height="12px">
													<g class="rating__fill">
														<use xlink:href="{% static 'images/sprite.svg' %}#star-normal"></use>
													</g>
													<g class="rating__stroke">
														<use xlink:href="{% static 'images/sprite.svg' %}#star-normal-stroke"></use>
													</g>
												</svg>
												<div class="rating__star rating__star--only-edge rating__star--active">
													<div class="rating__fill">
														<div class="fake-svg-icon"></div>
													</div>
													<div class="rating__stroke">
														<div class="fake-svg-icon"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="product__rating-legend">
										<a href="#">7 Reviews</a>
										<span>/</span>
										<a href="#">Write a Review</a>
									</div>
								</div>
								<div class="product__description">{{ product.mini_description }}</div>
								<ul class="product__features">
									<li>Speed: 750 RPM</li>
									<li>Power source: Electricity</li>
									<li>Battery type: Lithium</li>
									<li>Voltage: 20 Volts</li>
									<li>Battery capacity: 2 hours</li>
								</ul>
								<ul class="product__meta">
									<li class="product__meta-availability">Availability: {% if inst %} <span class="text-success">In stock</span>{% else %}<span class="text-danger">Out of stock</span>{% endif %}</li>
									<li>Brand: <a href="#">{{ product.brand }}</a></li>
									<li>ID: {{ product.id }}</li>
									
								</ul>
							</div>
							<!-- .product__info / end -->
							<!-- .product__sidebar -->
							<div class="product__sidebar">
								<div class="product__availability">Availability: {% if inst %} <span class="text-success">In stock</span>{% else %}<span class="text-danger">Out of stock</span>{% endif %}</div>
								<div class="product__prices">
									{% if inst %}
									{% if finst.off == 0 %}<span class="new-price">{{ finst.new_price }}</span>{% else %}<span class="product-card__new-price">{{ finst.new_price }} </span>{% endif %}{% if finst.off == 0 %}{% else %}<span  class="product-card__old-price">{{ finst.price }} </span>{% endif %}
								  	{% endif %}
								</div>
								<!-- .product__options -->
								<form class="product__options" method ='Post'>
									{% csrf_token %}
									<div class="form-group product__option">
										<label class="product__option-label">Colors</label>
										<div class="input-radio-color">
											<div class="input-radio-color__list">
												{% for i in product.color.all %}
												<label class="input-radio-color__item input-radio-color__item--white" style="color: {{ i.hex_code }}" data-toggle="tooltip" title="{{ i.name }}">
													<input type="radio" name="Color" value="{{ i.id }}" required> <span></span></label>
												
												{% endfor %}
											</div>
										</div>
									</div>
									<div class="form-group product__option">
										<label class="product__option-label">Material</label>
										<div class="input-radio-label">
											<div class="input-radio-label__list">
												{% for k in product.material.all %}
												<label>
													<input type="radio" name="Material" value="{{ k.id }}" required> <span>{{ k.name }}</span>
												</label>
												{% endfor %}
											</div>
										</div>
									</div>
									<div class="form-group product__option">
										<label class="product__option-label">Size</label>
										<div class="input-radio-label">
											<div class="input-radio-label__list">
												{% for k in product.size.all %}
												<label>
													<input type="radio" name="Size" value="{{ k.id }}" required> <span>{{ k.sizeno }}</span>
												</label>
												
												{% endfor %}
											</div>
										</div>
									</div>
									<div>
										<label class="control-label">Select Seller</label>
										<select class="form-control" id="input-option200" name="seller">
										{% for i in inst %}
											<option value ={{ i.id }}>
												<li>Name :{{ i.seller }} &nbsp;  Original Price :{{ i.price }} &nbsp;   Discount :  {{ i.off }}</li>
											</option>
										{% endfor %}
									</select>
									</div><br/>
									<div class="form-group product__option">
										<label class="product__option-label" for="product-quantity">Quantity</label>
										<div class="product__actions">
											<div class="product__actions-item">
												<div class="input-number product__quantity">
													<input type='hidden'  name='product_slug' value="{{ i.product.slug }}" >
													<input class="form-control input-number__input" type="number" name="quantity"  min="1" value="{{ i.count }}" max = "{{ i.saler.instock }}" id="count" onchange="refresh()">
													<div class="input-number__add"></div>
													<div class="input-number__sub"></div>
												</div>
											</div>
											
											<div class="product__actions-item product__actions-item--addtocart">
											{% if user.is_authenticated %}
												{% if inst %}
												<button type="submit" id="button-cart" class="btn btn-primary btn-lg" name='addCart'>Add to cart</button>
												{% else %}
												<button type="submit" class="btn btn-danger btn-lg" disabled>Out of stock</button>
												{% endif %}
											{% else %}
												<a href={% url 'login' %}> <button type="button" id="Login" class="btn btn-primary btn-lg">Add to cart</button></a>
											{% endif %}
											</div>
											
											{% if user.is_authenticated %}
											<div class="product__actions-item product__actions-item--wishlist">
												<input type='hidden'  name='product' value="{{ product.id }}" >
												<button type="submit"  class="btn btn-secondary btn-svg-icon btn-lg" data-toggle="tooltip" name="addWishlist" aria-pressed="false" autocomplete="off">
													<svg width="16px" height="16px">
														<use xlink:href="{% static 'images/sprite.svg' %}#wishlist-16"></use>
													</svg>
												</button>
											</div>
											<div class="product__actions-item product__actions-item--compare">
												<input type='hidden'  name='product' value="{{ product.id }}" >
												<button type="submit" class="btn btn-secondary btn-svg-icon btn-lg" data-toggle="tooltip" name="addCompare" title="Compare" aria-pressed="false" autocomplete="off">
													<svg width="16px" height="16px">
														<use xlink:href="{% static 'images/sprite.svg' %}#compare-16"></use>
													</svg>
												</button>
												
											</div>
										{% endif %}
										</div>
									</div>
								</form>
								<!-- .product__options / end -->
							</div>
							<!-- .product__end -->
							<div class="product__footer">
								<div class="product__tags tags">
									<div class="tags__list">
										{% for tag in product.tags.all %}
										<a href="#" class="tags__item" title="{{ tag.name }}">{{ tag.name }}</a>
										{% endfor %}
									</div>
								</div>
								<div class="product__share-links share-links">
									<ul class="share-links__list">
										<li class="share-links__item share-links__item--type--like"><a href="#">Like</a></li>
										<li class="share-links__item share-links__item--type--tweet"><a href="#">Tweet</a></li>
										<li class="share-links__item share-links__item--type--pin"><a href="#">Pin</a></li>
										<li class="share-links__item share-links__item--type--counter"><a href="#">4K</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="product-tabs">
						<div class="product-tabs__list"><a href="#tab-description" class="product-tabs__item product-tabs__item--active">Description</a> <a href="#tab-specification" class="product-tabs__item">Technical Specifications</a> <a href="#tab-reviews" class="product-tabs__item">Reviews</a></div>
						<div class="product-tabs__content">
							<div class="product-tabs__pane product-tabs__pane--active" id="tab-description">
								<div class="typography">
									{{ product.description }}
								</div>
							</div>
							<div class="product-tabs__pane" id="tab-specification">
								<div class="spec">
									<h3 class="spec__header">Technical Specifications</h3>
									<div class="spec__section">
										<h4 class="spec__section-title">General</h4>
										<div class="spec__row">
											<div class="spec__name">Material</div>
											<div class="spec__value">
												{% if product.material %}
													{% for material in product.material.all %}
														{{ material }}, 
													{% endfor %}
												{% else %}
												Not specified
												{% endif %}
											</div>
										</div>
										<div class="spec__row">
											<div class="spec__name">Type of Colors</div>
											<div class="spec__value">
												{% if product.color %}
													{% for color in product.color.all %}
														<span style="background-color: {{ color.hex_code }}; padding: 2px 6px; border-radius: 4px; color: {% if color.hex_code == 'white' or color.hex_code == '#fff' or color.hex_code == '#ffffff' %}#000 {% else %}#fff{% endif %};box-shadow: 0px 0px 1px 1px;">{{ color.name }}</span>
													{% endfor %}
												{% else %}
													Not specified
												{% endif %}
											</div>
										</div>
										<div class="spec__row">
											<div class="spec__name">Brand</div>
											<div class="spec__value">
												{% if product.brand %}
												{{ product.brand }}
												{% else %}
												Not specified
												{% endif %}
											</div>
										</div>
										<div class="spec__row">
											<div class="spec__name">Category</div>
											<div class="spec__value">
												{% if product.category %}
												{{ product.category }}
												{% else %}
												Not specified
												{% endif %}
											</div>
										</div>
									</div>
									<div class="spec__section">
										<h4 class="spec__section-title">Dimensions</h4>
										<div class="spec__row">
											<div class="spec__name">Size</div>
											<div class="spec__value">
												{% if product.size %}
												<div class="tags__list">
													{% for size in product.size.all %}
														<a href="#" title="{{ size }}">{{ size }}</a>
													{% endfor %}
													</div>
												{% else %}
												Not specified
												{% endif %}
											</div>
										</div>
									</div>
									<div class="spec__disclaimer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget sapien. Sed ut purus eget sapien. Sed ut purus eget sapien.</div>
								</div>
							</div>
							<div class="product-tabs__pane" id="tab-reviews">
								<div class="reviews-view">
									{% if product.reviews.count > 0 %}
										<div class="reviews-view__list">
											<h3 class="reviews-view__header" style="margin-bottom: -50px!important;">Customer Review</h3>
											{% include 'components/comment-list.html' with comments=product.reviews.all %}
										</div>
									{% endif %}
									{% if request.user.is_authenticated %}
										<form class="reviews-view__form" method="post">
											{% csrf_token %}
											<h3 class="reviews-view__header" style="margin-bottom: -5px!important;">Write a review</h3>
											{% include "components/write-review.html" %}
										</form>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .block-products-carousel -->
			<div class="block block-products-carousel" data-layout="grid-5">
				<div class="container">
					<div class="block-header">
						<h3 class="block-header__title">Related Products</h3>
						<div class="block-header__divider"></div>
						<div class="block-header__arrows-list">
							<button class="block-header__arrow block-header__arrow--right" type="button">
								<svg width="7px" height="11px">
									<use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-right-7x11"></use>
								</svg>
							</button>
							<button class="block-header__arrow block-header__arrow--left" type="button">
								<svg width="7px" height="11px">
									<use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-left-7x11"></use>
								</svg>
							</button>
						</div>
					</div>
					<div class="block-products-carousel__slider">
						<div class="block-products-carousel__preloader"></div>
						<div class="owl-carousel">
							{% for ak in Allproduct %}
							{% if ak.id != product.id %}
							<div class="block-products-carousel__column">
								<div class="block-products-carousel__cell">
									<div class="product-card">
										<button class="product-card__quickview" type="button">
											<svg width="16px" height="16px">
												<use xlink:href="{% static 'images/sprite.svg' %}#quickview-16"></use>
											</svg> <span class="fake-svg-icon"></span></button>
										<div class="product-card__badges-list">
											<div class="product-card__badge product-card__badge--new">New</div>
										</div>
										<div class="product-card__image">
											<a href="{% url 'ProductDetailView' ak.slug %}">
												<img src='{{ ak.pic0.url }}' alt='{{ ak.name }}' title='{{ ak.name }}' class="img-responsive" />
											</a>
										</div>
										<div class="product-card__info">
											<div class="product-card__name"><a href="{% url 'ProductDetailView' ak.slug %}">{{ ak.name }}</a></div>
											<div class="product-card__rating">
												<div class="rating">
													<div class="rating__body">
														{% for j in "01234" %}
															{% if j|add:"0" < ak.rating %}
																<svg class="rating__star rating__star--active" width="13px" height="12px">
																	<g class="rating__fill">
																		<use xlink:href="{% static 'images/sprite.svg' %}#star-normal"></use>
																	</g>
																	<g class="rating__stroke">
																		<use xlink:href="{% static 'images/sprite.svg' %}#star-normal-stroke"></use>
																	</g>
																</svg>
															{% else %}
																<svg class="rating__star" width="13px" height="12px">
																	<g class="rating__fill">
																		<use xlink:href="{% static 'images/sprite.svg' %}#star-normal"></use>
																	</g>
																	<g class="rating__stroke">
																		<use xlink:href="{% static 'images/sprite.svg' %}#star-normal-stroke"></use>
																	</g>
																</svg>
															{% endif %}
														{% endfor %}
													</div>
												</div>
												<div class="product-card__rating-legend">9 reviews</div>
											</div>
											<ul class="product-card__features-list">
												<li>Speed: 750 RPM</li>
												<li>Power source: Electricity</li>
												<li>Battery type: Lithium</li>
												<li>Voltage: 20 Volts</li>
												<li>Battery capacity: 2 hours</li>
											</ul>
										</div>
										<div class="product-card__actions">
											{% for i in ak.productinstance.all %}
											<div class="product-card__availability">Availability: <span class="text-success">In stock</span></div>
											<div class="product-card__prices">{% if i.off == 0 %}<span class="new-price">{{ i.new_price }}</span>{% else %}<span class="product-card__new-price">{{ i.new_price }} </span>{% endif %}{% if i.off == 0 %}{% else %}<span  class="product-card__old-price">{{ i.price }} </span>{% endif %}</div>
											{% endfor %}
											<div class="product-card__buttons">
												<button class="btn btn-primary product-card__addtocart" type="button">Add to Cart</button>
												<button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">Add to Cart</button>
												<button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
													<svg width="16px" height="16px">
														<use xlink:href="{% static 'images/sprite.svg' %}#wishlist-16"></use>
													</svg> <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span></button>
												<button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
													<svg width="16px" height="16px">
														<use xlink:href="{% static 'images/sprite.svg' %}#compare-16"></use>
													</svg> <span class="fake-svg-icon fake-svg-icon--compare-16"></span></button>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endif %}
							{% endfor %}	
						</div>
					</div>
				</div>
			</div>
			<!-- .block-products-carousel / end -->
		</div>
		<!-- site__body / end -->

{% endblock %}
		