<section class="post__section">
   <h4 class="post__section-title">Write a Comment</h4>
   <form>
      <div class="form-row">
         <div class="form-group col-md-4">
            <label for="comment-first-name">First Name</label>
            <input type="text" class="form-control" id="comment-first-name" placeholder="First Name">
         </div>
         <div class="form-group col-md-4">
            <label for="comment-last-name">Last Name</label>
            <input type="text" class="form-control" id="comment-last-name" placeholder="Last Name">
         </div>
         <div class="form-group col-md-4">
            <label for="comment-email">Email Address</label>
            <input type="email" class="form-control" id="comment-email" placeholder="Email Address" dir="ltr">
         </div>
      </div>
      <div class="form-group">
         <label for="comment-content">Comment</label>
         <textarea class="form-control" id="comment-content" rows="6"></textarea>
      </div>
      <div class="form-group mt-4">
         <button type="submit" class="btn btn-primary btn-lg">Submit Comment</button>
      </div>
   </form>
</section>