<div class="row">
    <div class="col-12 col-lg-9 col-xl-8">
        <input type='hidden'  name='product_id' value="{{ product.id }}" >
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="review-stars">Review stars</label>
                <select id="review-stars" name="review-stars" class="form-control">
                    <option value="5">5 stars</option>
                    <option value="4">4 stars</option>
                    <option value="3">3 stars</option>
                    <option value="2">2 stars</option>
                    <option value="1">1 star</option>
                </select>
            </div>
            {% comment %} <div class="form-group col-md-4">
                <label for="review-author">Your name</label>
                <input type="text" class="form-control" id="review-author" name="review-author" placeholder="Your name">
            </div>
            <div class="form-group col-md-4">
                <label for="review-email">Your email</label>
                <input type="text" class="form-control" id="review-email" name="review-email" placeholder="Your email">
            </div> {% endcomment %}
        </div>
        <div class="form-group">
            <label for="review-text">Your review</label>
            <textarea class="form-control" id="review-text" name="review-text" rows="6"></textarea>
        </div>
        <div class="form-group mb-0">
            <button type="submit" name="addReview" data-toggle="tooltip" title="Review" aria-pressed="false" autocomplete="off" class="btn btn-primary btn-lg">Send review</button>
        </div>
    </div>
</div>