<div class="widget-aboutus__socials">
   <ul>
      <li><a class="widget-aboutus__link widget-aboutus__link--rss" href="#" target="_blank"><i class="widget-social__icon fas fa-rss"></i></a></li>
      <li><a class="widget-aboutus__link widget-aboutus__link--youtube" href="#" target="_blank"><i class="widget-aboutus__icon fab fa-youtube"></i></a></li>
      <li><a class="widget-aboutus__link widget-aboutus__link--facebook" href="#" target="_blank"><i class="widget-aboutus__icon fab fa-facebook-f"></i></a></li>
      <li><a class="widget-aboutus__link widget-aboutus__link--twitter" href="#" target="_blank"><i class="widget-aboutus__icon fab fa-twitter"></i></a></li>
      <li><a class="widget-aboutus__link widget-aboutus__link--instagram" href="#" target="_blank"><i class="widget-aboutus__icon fab fa-instagram"></i></a></li>
   </ul>
</div>